.aboutLogo {
    object-fit: fill;
    height: 30rem;
    width: 15rem;
}

.aboutAri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding-top: 1rem;
    font-size: medium;
    width: 75%;
    padding-left: 1rem;
    color: rgb(62, 119, 62);
}

@media screen and (max-width: 940px) {
   .aboutLogo .aboutAri {
        display: block;
    }
}
